<!-- Validation failure messages -->
<% if @plan_comment.errors.any? %>
  <% @plan_comment.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Plan Comment #<%= @plan_comment.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_plan_comment/<%= @plan_comment.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for body -->
      <div class="form-group">
        <label for="body" class="control-label">
          Body
        </label>

        <input type="text" id="body" name="body" placeholder="Body" class="form-control" value="<%= @plan_comment.body %>">
      </div>

      
      

      <!-- Label and input for plan_id -->
      <div class="form-group">
        <label for="plan_id" class="control-label">
          Plan
        </label>

        <%= select_tag(:plan_id, options_from_collection_for_select(ImprovementPlan.all, :id, :title, @plan_comment.plan_id), :class => "form-control") %>
      </div>

      <button class="btn btn-warning">
        Update Plan Comment
      </button>
      or
      <a href="/plan_comments/<%= @plan_comment.id %>">Cancel</a>
    </form>
  </div>
</div>
