<div class="page-header">
  <h3>Plan Comment #<%= @plan_comment.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Body</dt>
      <dd><%= @plan_comment.body %></dd>

      <dt>User</dt>
      <dd>
        <% if @plan_comment.user.present? %>
          <a href="/users/<%= @plan_comment.user_id %>">
            <%= @plan_comment.user.first_name %>
          </a>
        <% end %>
      </dd>

      <dt>Plan</dt>
      <dd>
        <% if @plan_comment.plan.present? %>
          <a href="/improvement_plans/<%= @plan_comment.plan_id %>">
            <%= @plan_comment.plan.title %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/plan_comments" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @plan_comment.user %>
        <a href="/plan_comments/<%= @plan_comment.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_plan_comment/<%= @plan_comment.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>
