<div class="page-header">
  <h3>Status #<%= @status.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @status.name %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/statuses" class="btn btn-primary">
        Back
      </a>
      <a href="/statuses/<%= @status.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_status/<%= @status.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Status has many improvement_plans -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Improvement Plans
      </li>

      <% @status.improvement_plans.each do |improvement_plan| %>
        <li class="list-group-item">
          <a href="/improvement_plans/<%= improvement_plan.id %>">
            <%= improvement_plan.title %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/improvement_plans/<%= improvement_plan.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/improvement_plans/<%= improvement_plan.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_improvement_plan/<%= improvement_plan.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_improvement_plan" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for status_id -->
      <input type="hidden" name="status_id" value="<%= @status.id %>">

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :first_name), :class => "form-control") %>
      </div>

      <!-- Label and input for title -->
      <div class="form-group">
        <label for="title" class="control-label">
          Title
        </label>

        <input type="text" id="title" name="title" placeholder="Title" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Improvement Plan
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
