<!-- Validation failure messages -->
<% if @goal_comment.errors.any? %>
  <% @goal_comment.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Goal Comment #<%= @goal_comment.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_goal_comment/<%= @goal_comment.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for body -->
      <div class="form-group">
        <label for="body" class="control-label">
          Body
        </label>

        <input type="text" id="body" name="body" placeholder="Body" class="form-control" value="<%= @goal_comment.body %>">
      </div>

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :first_name, @goal_comment.user_id), :class => "form-control") %>
      </div>

      <!-- Label and input for goal_id -->
      <div class="form-group">
        <label for="goal_id" class="control-label">
          Goal
        </label>

        <input type="text" id="goal_id" name="goal_id" placeholder="Goal" class="form-control" value="<%= @goal_comment.goal_id %>">
      </div>

      <button class="btn btn-warning">
        Update Goal Comment
      </button>
      or
      <a href="/goal_comments/<%= @goal_comment.id %>">Cancel</a>
    </form>
  </div>
</div>
