<div class="page-header">
  <h3>User #<%= @user.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Email</dt>
      <dd><%= @user.email %></dd>

      <dt>Password</dt>
      <dd><%= @user.password %></dd>

      <dt>First name</dt>
      <dd><%= @user.first_name %></dd>

      <dt>Last name</dt>
      <dd><%= @user.last_name %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/users" class="btn btn-primary">
        Back
      </a>
    </div>
  </div>
</div>

<!-- A User has many comments -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Comments
      </li>

      <% @user.comments.each do |plan_comment| %>
        <li class="list-group-item">
          <a href="/plan_comments/<%= plan_comment.id %>">
            <%= plan_comment.body %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/plan_comments/<%= plan_comment.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/plan_comments/<%= plan_comment.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_plan_comment/<%= plan_comment.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A User has many improvement_plans -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Improvement Plans
      </li>

      <% @user.improvement_plans.each do |improvement_plan| %>
        <li class="list-group-item">
          <a href="/improvement_plans/<%= improvement_plan.id %>">
            <%= improvement_plan.title %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/improvement_plans/<%= improvement_plan.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/improvement_plans/<%= improvement_plan.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_improvement_plan/<%= improvement_plan.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A User has many coachings -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Coachings
      </li>

      <% @user.coachings.each do |coaching| %>
        <li class="list-group-item">
          <a href="/coachings/<%= coaching.id %>">
            <%= coaching.plan_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/coachings/<%= coaching.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/coachings/<%= coaching.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_coaching/<%= coaching.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A User has many goal_comments -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Goal Comments
      </li>

      <% @user.goal_comments.each do |goal_comment| %>
        <li class="list-group-item">
          <a href="/goal_comments/<%= goal_comment.id %>">
            <%= goal_comment.body %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/goal_comments/<%= goal_comment.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/goal_comments/<%= goal_comment.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_goal_comment/<%= goal_comment.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A User has many trainee_improvement_plans -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Trainee Improvement Plans
      </li>

      <% @user.trainee_improvement_plans.each do |improvement_plan| %>
        <li class="list-group-item">
          <a href="/improvement_plans/<%= improvement_plan.id %>">
            <%= improvement_plan.title %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/improvement_plans/<%= improvement_plan.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/improvement_plans/<%= improvement_plan.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_improvement_plan/<%= improvement_plan.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A User has many trainees -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Trainees
      </li>

      <% @user.trainees.each do |user| %>
        <li class="list-group-item">
          <a href="/users/<%= user.id %>">
            <%= user.first_name %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/users/<%= user.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/users/<%= user.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_user/<%= user.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A User has many coaches -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Coaches
      </li>

      <% @user.coaches.each do |user| %>
        <li class="list-group-item">
          <a href="/users/<%= user.id %>">
            <%= user.first_name %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/users/<%= user.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/users/<%= user.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_user/<%= user.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
