<div class="page-header">
  <h3>Improvement Plan #<%= @improvement_plan.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Status</dt>
      <dd><%= @improvement_plan.status_id %></dd>

      <dt>User</dt>
      <dd><%= @improvement_plan.user_id %></dd>

      <dt>Title</dt>
      <dd><%= @improvement_plan.title %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/improvement_plans" class="btn btn-primary">
        Back
      </a>
      <a href="/improvement_plans/<%= @improvement_plan.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_improvement_plan/<%= @improvement_plan.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Improvement plan has many goals -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Goals
      </li>

      <% @improvement_plan.goals.each do |goal| %>
        <li class="list-group-item">
          <a href="/goals/<%= goal.id %>">
            <%= goal.description %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/goals/<%= goal.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/goals/<%= goal.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_goal/<%= goal.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_goal" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for plan_id -->
      <div class="form-group">
        <label for="plan_id" class="control-label">
          Plan
        </label>

        <%= select_tag(:plan_id, options_from_collection_for_select(ImprovementPlan.all, :id, :title), :class => "form-control") %>
      </div>

      <!-- Label and input for description -->
      <div class="form-group">
        <label for="description" class="control-label">
          Description
        </label>

        <textarea id="description" name="description" placeholder="Description" class="form-control" rows="3"></textarea>
      </div>

      <button class="btn btn-block btn-success">
        Create Goal
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Improvement plan has many comments -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Comments
      </li>

      <% @improvement_plan.comments.each do |plan_comment| %>
        <li class="list-group-item">
          <a href="/plan_comments/<%= plan_comment.id %>">
            <%= plan_comment.body %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/plan_comments/<%= plan_comment.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/plan_comments/<%= plan_comment.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_plan_comment/<%= plan_comment.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_plan_comment" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for body -->
      <div class="form-group">
        <label for="body" class="control-label">
          Body
        </label>

        <input type="text" id="body" name="body" placeholder="Body" class="form-control" value="">
      </div>

      <!-- Label and input for user_id -->
      <input type="hidden" name="user_id" value="<%= current_user.id %>">

      <!-- Label and input for plan_id -->
      <div class="form-group">
        <label for="plan_id" class="control-label">
          Plan
        </label>

        <%= select_tag(:plan_id, options_from_collection_for_select(ImprovementPlan.all, :id, :title), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create Plan Comment
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Improvement plan has many coachings -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Coachings
      </li>

      <% @improvement_plan.coachings.each do |coaching| %>
        <li class="list-group-item">
          <a href="/coachings/<%= coaching.id %>">
            <%= coaching.plan_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/coachings/<%= coaching.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/coachings/<%= coaching.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_coaching/<%= coaching.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_coaching" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for plan_id -->
      <div class="form-group">
        <label for="plan_id" class="control-label">
          Plan
        </label>

        <%= select_tag(:plan_id, options_from_collection_for_select(ImprovementPlan.all, :id, :title), :class => "form-control") %>
      </div>

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :first_name), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create Coaching
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Improvement plan has many coaches -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Coaches
      </li>

      <% @improvement_plan.coaches.each do |user| %>
        <li class="list-group-item">
          <a href="/users/<%= user.id %>">
            <%= user.first_name %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/users/<%= user.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/users/<%= user.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_user/<%= user.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
